.text-error {
    color: red;
}
.text-warning {
    color: orange;
}
.text-success {
    color: green;
}
.float-right {
    float: right;
}
.bg-label-error {
    background-color: #fce6d7 !important;
    color: red !important;
}