<%- include('includes/header.ejs') %>
    <%- include('includes/sub-header.ejs') %>

        <div class="contact_section layout_padding">
            <div class="container">
                <h1 class="contact_text">404 Page Not Found</h1>
            </div>
        </div>

        <%- include('includes/footer.ejs') %>